body {
    margin: 0;
    max-width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

header {
    margin: 0;
    padding: 50px;
    text-align: center;
    background-color: rgb(0, 0, 55);
    color: white;
    font-size: 30px;
}

.product_desc {
    width: 50%;
    padding: 30px;
    border-radius: 16px;
    color: white;
    background-color: rgb(0, 0, 55);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_desc>img {
    width: 75%;
}

.pergunta {
    margin: 20px;
}

.pergunta>label {
    border: 5px solid gray;
    display: inline-block;
    padding: 20px;
}

.pergunta>label:hover {
    cursor: pointer;
}

input:checked {
    background-color: lightskyblue;
    border-color: lightskyblue;
}

/* .pergunta>label>input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
} */

.pergunta>label>img {
    width: 100px;
    height: 80px;
}

.pergunta>label>i {
    font-size: 83px;
}

.option1 {
    color: red;
}

.option2 {
    color: orange;
}

.option3 {
    color: rgb(226, 226, 0);
}

.option4 {
    color: rgb(89, 250, 110);
}

.option5 {
    color: lime;
}

button {
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: maroon;
    color: white;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    box-shadow: none;
}

footer {
    background-color: rgb(0, 0, 55);
    color: white;
    padding: 20px;
}

ul {
    list-style: none;
}

ul>li {
    padding-left: 0;
}