body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(57, 68, 38);
}

header {
    background-color: darkolivegreen;
    color: white;
    padding: 2rem;
    text-align: center;
}

nav {
    width: 50vw;
    margin: auto;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
}


li a:hover {
    background: rgb(186, 255, 159);
    color: black;
}

.container {
    min-width: 70%;
    width: 20vw;
    margin: auto;
    color: white;
    text-align: center;
    border: 0.2rem solid;
    border-color: darkolivegreen;
    border-radius: 20px;
    padding: 3rem;
    padding-top: 1rem;
}

.container ul {
    padding: 0;
}

.container h2 {
    padding: 1rem;
    background-color: darkolivegreen;
    border-radius: 20px;
}

.container input {
    width: 80%;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    border-radius: 20px;
    border: 0.2rem solid;
    border-color: darkolivegreen;
}

.container button {
    width: 80%;
    padding: 0.5rem; 
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: large;
    transition: background-color 0.2s;
    padding: 1rem;
    border-radius: 20px;
}

footer {
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.list table{
    width: 100%;
}

.list table th {
    background-color: grey;
    padding: 1rem;
}

.list table td{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid grey;
    max-width: 70px;
    overflow: auto;
}

.list table td i{
    font-size:x-large;
}

.list table td i:hover{
    cursor: pointer;
}

.erro {
    background-color: #cf1f1f7c;
    width: 50%;
    padding: 2rem;
    color: white;
    margin: auto;
    font-size: large;
    border-radius: 10px;
    display: none;
}